<a href="https://colab.research.google.com/github/jhonathanwesley/datapython/blob/main/Projetos/Rastreador%20de%20A%C3%A7%C3%B5es/Projeto%20Python%20%26%20Finance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import yfinance as yf

In [ ]:
petro = yf.Ticker('PETR4.SA')

In [ ]:
petro.ticker

'PETR4.SA'

In [ ]:
petro.dividends

Date
2005-04-01 00:00:00-03:00    0.133288
2005-07-01 00:00:00-03:00    0.250663
2006-01-02 00:00:00-02:00    0.259000
2006-04-04 00:00:00-03:00    0.185750
2006-11-01 00:00:00-03:00    0.500750
2007-01-02 00:00:00-02:00    0.225000
2007-04-03 00:00:00-03:00    0.175000
2007-08-20 00:00:00-03:00    0.251700
2007-10-08 00:00:00-03:00    0.256500
2008-01-14 00:00:00-02:00    0.155300
2008-04-07 00:00:00-03:00    0.102600
2008-12-29 00:00:00-02:00    0.351600
2009-04-09 00:00:00-03:00    0.351600
2009-07-06 00:00:00-03:00    0.300000
2009-10-01 00:00:00-03:00    0.200000
2009-12-21 00:00:00-02:00    0.200000
2010-04-23 00:00:00-03:00    0.133200
2010-05-24 00:00:00-03:00    0.170000
2010-08-02 00:00:00-03:00    0.170000
2010-11-03 00:00:00-02:00    0.140000
2010-12-22 00:00:00-02:00    0.200000
2011-03-22 00:00:00-03:00    0.173420
2011-04-29 00:00:00-03:00    0.126500
2011-05-12 00:00:00-03:00    0.213600
2011-08-03 00:00:00-03:00    0.207300
2011-11-14 00:00:00-02:00    0.200000
2012-01-03 00:00:00-02:00    0.177300
2012-03-20 00:00:00-03:00    0.124400
2012-05-14 00:00:00-03:00    0.200000
2013-04-30 00:00:00-03:00    0.386170
2014-04-03 00:00:00-03:00    0.967200
2018-05-22 00:00:00-03:00    0.050000
2018-08-14 00:00:00-03:00    0.050000
2018-11-22 00:00:00-02:00    0.100000
2018-12-26 00:00:00-02:00    0.716563
2019-04-26 00:00:00-03:00    0.019494
2019-05-22 00:00:00-03:00    0.100000
2019-08-13 00:00:00-03:00    0.200000
2019-11-12 00:00:00-03:00    0.200925
2019-12-27 00:00:00-03:00    0.421942
2020-07-23 00:00:00-03:00    0.000461
2021-04-15 00:00:00-03:00    0.792834
2021-08-17 00:00:00-03:00    1.609911
2021-12-02 00:00:00-03:00    3.250487
2022-04-14 00:00:00-03:00    2.970249
2022-05-24 00:00:00-03:00    3.715490
2022-08-12 00:00:00-03:00    6.667932
2022-11-22 00:00:00-03:00    1.748708
2023-04-28 00:00:00-03:00    2.930163
2023-06-13 00:00:00-03:00    1.893576
2023-08-22 00:00:00-03:00    1.149304
2023-11-22 00:00:00-03:00    1.371248
2024-04-26 00:00:00-03:00    1.150024
2024-05-03 00:00:00-03:00    1.776022
2024-06-12 00:00:00-03:00    1.043242
2024-08-22 00:00:00-03:00    1.053200
Name: Dividends, dtype: float64

In [ ]:
petro.splits

Date
2005-09-01 00:00:00-03:00    4.0
2008-04-28 00:00:00-03:00    2.0
Name: Stock Splits, dtype: float64

In [ ]:
petro.history(start = '2024-10-08', end = '2024-10-14', interval = '5m')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2024-10-08 10:10:00-03:00,37.799999,37.820000,37.630001,37.700001,641600,0.0,0.0
2024-10-08 10:15:00-03:00,37.730000,37.820000,37.709999,37.750000,351900,0.0,0.0
2024-10-08 10:20:00-03:00,37.759998,37.849998,37.709999,37.830002,358300,0.0,0.0
2024-10-08 10:25:00-03:00,37.830002,37.869999,37.770000,37.840000,419600,0.0,0.0
2024-10-08 10:30:00-03:00,37.860001,37.860001,37.660000,37.700001,891100,0.0,0.0
...,...,...,...,...,...,...,...
2024-10-11 16:30:00-03:00,37.549999,37.570000,37.529999,37.549999,90000,0.0,0.0
2024-10-11 16:35:00-03:00,37.549999,37.549999,37.520000,37.540001,83000,0.0,0.0
2024-10-11 16:40:00-03:00,37.540001,37.549999,37.520000,37.520000,63000,0.0,0.0
2024-10-11 16:45:00-03:00,37.529999,37.560001,37.520000,37.549999,146000,0.0,0.0
2024-10-11 16:50:00-03:00,37.549999,37.590000,37.520000,37.520000,279100,0.0,0.0